{% if label != blank %}
  <a
    href="{{ to }}"
    target="{{ target }}"
    class="button {{ class }}"
    title="{{ label }}"
  >
    {% if class contains 'circle' or class contains 'sqaure' %}
      {% render 'icon_material' with icon: icon %}
    {% else %}
      {% if icon != blank %}
        {% render 'icon_material' with icon: icon %}
      {% endif %}
      {{ label }}
    {% endif %}
  </a>
{% endif %}