{%-liquid
  assign sold_out_text = 'Sold Out'
  assign add_to_card_text = 'Add To Cart'
  assign on_sale_text = 'On Sale'
  assign thumbnail_image = card_product.selected_or_first_available_variant.image
  assign hover_image = card_product.images[1]
  assign badge_class = 'h6 inline-flex items-center justify-center h-[31px] px-3 bg-text-color text-bg-color'
  if card_product.metafields.custom.thumbnail_image != blank
    assign thumbnail_image = card_product.metafields.custom.thumbnail_image
  elsif thumbnail_image == blank
    assign thumbnail_image = card_product.images[0]
  endif
  
  assign product_title = 'Product Title'
  assign product_type = null
  assign product_subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis, quaeso, illum negat et bonum virum et comem et humanum fuisse'
  if card_product != blank
    assign product_title = card_product.title
    assign product_type = card_product.type

    assign product_subtitle = card_product.metafields.relaunch.grid_excerpt | strip_html
  endif
-%}

<div class="product-card group flex flex-col h-full">
  <a href="{{ card_product.url }}" class="block grow">
    <div class="relative {% if bg_color %}{{ bg_color}}{% else %}bg-light-grey{% endif %} aspect-[3/4] overflow-hidden">
      {%- if thumbnail_image != blank -%}
        <img
          srcset="{{ thumbnail_image | image_url: width: 165 }} 165w,
            {{ thumbnail_image | image_url: width: 360 }} 360w,
            {{ thumbnail_image | image_url: width: 533 }} 533w,
            {{ thumbnail_image | image_url: width: 720 }} 720w,
            {{ thumbnail_image | image_url: width: 940 }} 940w,
            {{ thumbnail_image | image_url: width: 1066 }} 1066w,
            {{ thumbnail_image | image_url: width: 1200 }} 1200w"
          src="{{ thumbnail_image | image_url: width: 533 }}"
          sizes="(min-width: 990px) calc(100vw / 4), (min-width: 750px) calc(100vw / 3), calc(100vw / 2)"
          alt="{{ thumbnail_image.alt | escape }}"
          class="transition-all duration-md absolute top-0 left-0 w-full h-full object-cover{% if hover_image != blank %} z-1{% endif %}"
          {% unless lazy_load == false %}loading="lazy"{% endunless %}
          width="{{ thumbnail_image.width }}"
          height="{{ thumbnail_image.height }}"
          loading="eager"
        >
      {%- else -%}
        {% render 'placeholder-img' with icon: 'img-lg' %}
      {%- endif -%}

      {%- if hover_image != blank -%}
        <img
          srcset="{{ hover_image | image_url: width: 165 }} 165w,
            {{ hover_image | image_url: width: 360 }} 360w,
            {{ hover_image | image_url: width: 533 }} 533w,
            {{ hover_image | image_url: width: 720 }} 720w,
            {{ hover_image | image_url: width: 940 }} 940w,
            {{ hover_image | image_url: width: 1066 }} 1066w,
            {{ hover_image | image_url: width: 1200 }} 1200w"
          src="{{ hover_image | image_url: width: 533 }}"
          sizes="(min-width: 990px) calc(100vw / 4), (min-width: 750px) calc(100vw / 3), calc(100vw / 2)"
          alt="{{ hover_image.alt | escape }}"
          class="group-hover:opacity-100 z-2 opacity-0 transition-opacity absolute top-0 left-0 w-full h-full object-cover{% if hover_image != blank %} z-2{% endif %}"
          width="{{ hover_image.width }}"
          height="{{ hover_image.height }}"
          loading="eager"
        >
      {%- endif -%}

      <div class="badge-wrapper absolute z-3 top-0 right-0 left-0 bottom-0 flex flex-col items-center justify-between p-5">
        {%- if card_product.available == false -%}
          <span
            class="{{ badge_class }} badge">{{ sold_out_text }}</span>
        {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
          <span
            class="{{ badge_class }} badge">{{ on_sale_text }}</span>
        {%- else -%}
          {%- if card_product.tags contains 'bs-badge' -%}
            {%- if settings.sale_pricing != true -%}
              <span class="{{ badge_class }} badge">
                Bestseller
              </span>
            {%- else -%}
              {%- unless card_product.handle contains 'intimate' or card_product.handle contains 'partners' -%}
                <span class="{{ badge_class }} badge">
                  Bestseller
                </span>
              {%- endunless -%}
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    <div class="text-center grid gap-y-3 group-hover:text-main pt-5 transition-all duration-md">
      <h3 class="h5" id="title-{{ section_id }}-{{ card_product.id }}">{{ product_title | escape }}</h3>
      {% if product_type != blank %}
        <p class="caption m-0">{{ product_type }}</p>
      {% endif %}
      {% if product_subtitle != blank %}
        <p class="xsmall m-0 text-light-text-color group-hover:text-main transition-all duration-md">{{ product_subtitle }}</p>
      {% endif %}
    </div>
  </a>

  {%- assign product_form_id = 'quick-add-' | append: card_product.id -%}
  {%- if card_product.selected_or_first_available_variant.available == false -%}
    {% assign button_class = 'quick-add__submit button w-full relative' %}
  {%- else -%}
    {% assign button_class = 'quick-add__submit button w-full relative group-hover:bg-main group-hover:border-main group-hover:text-bg-color' %}
  {%- endif -%}

  <div class="quick-add pt-4 grow-0">
    {%- if card_product != blank -%}
      <product-form>
        {%- form 'product', card_product, id: product_form_id, class: 'form block', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
        
          {%- unless card_product.has_only_default_variant -%}
            <variant-radios
              class="no-js-hidden pc-swatches block pb-6"
              data-section="{{ section.id }}"
              data-product-id="{{ card_product.id }}"
              data-url="{{ card_product.url }}" {{ block.shopify_attributes }}
              data-context="card-product"
            >
              {%- for option in card_product.options_with_values -%}
                {%- if option.values.size > 1 -%}
                  <fieldset class="js product-form__input flex flex-wrap justify-center gap-2">
                    {%- for value in option.values -%}
                      <div>
                        <input
                          type="radio"
                          class="hidden"
                          id="{{ section.id }}-{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}checked{% endif %}
                        >
                        {%- if block.settings.picker_type == 'button' or option.name != 'Color' -%}
                          <label
                            for="{{ section.id }}-{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            class="h6 whitespace-nowrap rounded-full inline-flex items-center justify-center h-[31px] px-3 transition-all duration-md cursor-pointer bubble-label"
                            title="{{ value }}"
                          >
                            {{ value }}
                          </label>
                        {% else %}
                          <label
                            for="{{ section.id }}-{{ card_product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            class="border swatch w-[20px] h-[20px] block rounded-full cursor-pointer"
                            style="color: var(--prod-{{ value | downcase }})"
                            title="{{ value }}"
                          >
                            <div class="swatch w-[14px] h-[14px] m-[2px] block rounded full bg-current"></div>
                          </label>
                        {% endif %}
                      </div>
                    {%- endfor -%}
                  </fieldset>
                {%- endif -%}
              {%- endfor -%}
              <script type="application/json">
                {{ card_product.variants | json }}
              </script>
            </variant-radios>
          {%- endunless -%}

          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="{{ button_class }}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
            aria-live="polite"
            data-sold-out-message="true"  
            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            <div class="hidden loading-overlay__spinner absolute top-[50%] left-[50%] m-[-8px]">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" width="16">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
            <span class="flex">
              {%- if card_product.selected_or_first_available_variant.available -%}
                {{ add_to_card_text }}<span class="mx-2 inline-block">|</span>{%- render 'price', product: card_product, use_variant: true -%}
              {%- else -%}
                {{ sold_out_text }}<span class="mx-2 inline-block">|</span>{%- render 'price', product: card_product, use_variant: true -%}
              {%- endif -%}
            </span>
          </button>
        {%- endform -%}
      </product-form>
    {%- endif -%}
  </div>
</div>