{%-liquid
  assign image = item.product.featured_image
  if item.image
    assign image = item.image
  endif
-%}

<div id="cartLineItem" class="{% if index != 0 %}border-t {% endif %}flex gap-x-gutter pb-gutter pt-gutter">  
  <div class="w-24">
    <div class="aspect-square relative w-full">
      {% render 'image' with 
        src: image,
        image_position: 'cover',
        loading: 'eager',
        sizes: 200,
        width: 100,
        height: 100
      %}
    </div>
  </div>
  <div id="cartUpdate" class="grow basis-0 col-span-4 flex flex-col">
    <div class="flex justify-between grow gap-x-gutter">
      <a href="{{ item.url }}">
        {{ item.product.title }}
        <div class="body-small">
          {{ item.variant.title }}
        </div>
      </a>
      <div class="shrink-0">
        <span class="font-base-sans">{{ item.price | times: item.quantity | money }}</span>
      </div>
    </div>
    <div class="flex justify-between items-center">
      {% render 'quantity_adjust' with item: item %}
      <cart-remove-item>
        <button class="cart-remove-item body-small hover:!text-error button transparent unpadd" data-item-id="{{ item.id }}">Remove</button>
      </cart-remove-item>
    </div>
  </div>
</div>
