<button
  type="{{ type }}"
  {% if form %}
    form="{{ form }}"
  {% endif %}
  {% if value %}
    value="{{ value }}"
  {% endif %}
  class="pill-lg-cta bg-orange hover:pill-shadow-lg transition-all duration-300 {{ class }}"
>
  {{ text }}
</button>
