<div class="product-card flex flex-col cursor-pointer group">
  <a href="{{ product.url }}" class="aspect-3/4 relative" title="View {{ product.title }}">
    {% render 'image' with
      src: product.featured_image,
      id: 'cardImage',
      layout: 'cover',
      sizes: '640px',
      max_size: 640
      loading: 'eager',
      alt: product.title,
      class: 'z-1'
    %}
    <div class="absolute top-0 left-0 w-full h-full z-2 opacity-0 group-hover:opacity-100 transition duration-slow">
      {% render 'image' with
        src: product.images[2],
        id: 'cardImage',
        layout: 'cover',
        sizes: '640px',
        max_size: 640,
        alt: product.title
      %}
    </div>
  </a>
  <a href="{{ product.url }}" title="View {{ product.title }}" class="pt-gutter">
    <div class="text-center">
      <div class="body">
        {{ product.title }}
      </div>
      <div class="body-small">
        {% render 'product_price' with item: product.first_available_variant %}
      </div>
    </div>
  </a>
  {% render 'product_option_form' with product: product %}
</div>
