{%-liquid
  assign section_id = section.id
-%}

<div class="product-card">
  <add-to-cart-form class="shrink-0 grow-0">
    <div class="flex flex-col gap-y-gutter">
      <div class="flex gap-x-gutter">
        <div>
          <div href="{{ product.url }}" class="aspect-square relative w-[80px] lg:w-[100px] shrink-0 grow-0">
            {% render 'image' with
              src: product.featured_image,
              id: 'cardImage',
              image_position: 'cover',
              sizes: '300px',
              notlazy: notlazy,
              alt: product.title
            %}
          </div>
        </div>
        <div class="text-left grow">
          <div class="body">
            {{ product.title }}
          </div>
          <div class="body-small">
            {% render 'product_price' with item: product.first_available_variant %}
          </div>

          <div id="add-to-cart-form" class="add-to-cart-form" data-url="{{ product.url }}">
            {%- for option in product.options_with_values -%}
              {%- if option.name == 'Color' -%}
                <variant-selects
                  data-context="{{ context }}"
                  data-section="{{ section.id }}"
                  data-url="{{ product.url }}"
                  {{ block.shopify_attributes }}
                >
                  <select
                    name="{{ option.name }}"
                    id="{{ section.id }}"
                    {% if option.values.size < 2 %}class="hidden"{% endif %}
                  >
                    {%- for value in option.values -%}
                      <option value="{{ value }}">{{ value }}</option>
                    {%- endfor -%}
                  </select>
                </variant-selects>
              {%- else -%}
                <variant-radios
                  data-context="{{ context }}"
                  data-section="{{ section.id }}"
                  data-url="{{ product.url }}"
                  {{ block.shopify_attributes }}
                >
                  <fieldset class="{% if option.values.size < 2 %}!hidden{% endif %}">
                    <legend class="hidden h6">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <div>
                        <input
                          type="radio" 
                          id="{{ section_id }}-{{ product.id }}-{{ forloop.index0 }}"
                          name="{{ option.name }}-{{ section_id }}-{{ product.id }}"
                          value="{{ value | escape }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}checked{% endif %}
                        >
                          <label for="{{ section_id }}-{{ product.id }}-{{ forloop.index0 }}" class="body-small">
                          {{ value }}
                        </label>
                      </div>
                    {%- endfor -%}
                  </fieldset>
                </variant-radios>
              {%- endif -%}
            {%- endfor -%}
            <script type="application/json">{{ product.variants | json }}</script>
          </div>

        </div>
        <div class="flex flex-col items-center justify-start gap-y-2">
          {% render 'add_to_cart_button' with
            text: "Add to Cart",
            icon: 'add',
            class: "circle",
            product: product
          %}
          <a
            href="{{ product.url }}"
            title="View {{ product.title }} details"
            class="body-small animate-underline"
          >Details</a>
        </div>
      </div>

      {% comment %} {%- render 'product_option_form' with product: product, section_context: 'cart-upsell' -%} {% endcomment %}
    </div>
  </add-to-cart-form>
</div>