{% assign new_quantity_up = item.quantity | plus: 1 %}
{% assign new_quantity_down = item.quantity | minus: 1 %}

<div class="w-fit flex font-base-mono lg:h-full">
  <cart-quantity-adjust class="flex items-center">
    <button
      class="button unpadd transparent circle tiny quantity-change quantity-down"
      title="Decrease quantity"
      data-product-id="{{ item.id }}"
      data-new-quantity="{{ new_quantity_down }}"
    >
      {% render 'icon-material' with icon: 'remove' %}
    </button>
    <div class="w-[3em] leading-none pt-[.15em] text-center flex justify-center items-center quantity-current transition-all">
      {{ item.quantity }}
    </div>
    <button
      class="button unpadd transparent circle tiny quantity-change quantity-up"
      title="Increase quantity"
      data-product-id="{{ item.id }}"
      data-new-quantity="{{ new_quantity_up }}"
      {% if item.variant.inventory_quantity < item.quantity %}
        disabled
      {% endif %}
    >
      {% render 'icon-material' with icon: 'add' %}
    </button>
  </cart-quantity-adjust>
</div>
