{%-liquid
  assign section_alignment = 'justify-start'
  if alignment == 'center'
    assign section_alignment = 'justify-center text-center mx-auto'
  endif
-%}

{%- if blocks != blank -%}
  <in-view class="flex flex-col {% if v_spacing != blank %}{{ v_spacing }}{% else %}gap-y-6{% endif %} {{ section_alignment }}">
    {%- for block in blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          {% if block.settings.text != blank %}
            <div {{ block.shopify_attributes }}>
              <{{block.settings.size}} class="{{ section_alignment }} {{ headline_class }}">{{ block.settings.text }}</{{block.settings.size}}>
            </div>
          {% endif %}
        {%- when 'text' -%}
          {% if block.settings.text != blank %}
            <div {{ block.shopify_attributes }} class="{{ block.settings.size }} {{ section_alignment }} {{ body_class }}">
              <p>{{ block.settings.text }}</p>
            </div>
          {% endif %}
        {%- when 'buttons' -%}
          <div class="flex flex-wrap gap-gutter {{ section_alignment }}" {{ block.shopify_attributes }}>
            {% if block.settings.button_label_1 != blank %}
              <div>
                {% render 'button' with
                  label: block.settings.button_label_1,
                  to: block.settings.button_link_1,
                  class: button_class
                %}
              </div>
            {% endif %}
            {% if block.settings.button_label_2 != blank %}
              <div>
                {% render 'button' with
                  label: block.settings.button_label_2,
                  to: block.settings.button_link_2,
                  class: button_class
                %}
              </div>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </in-view>
{%- endif -%}