{%-liquid
  assign section_alignment = 'justify-start'
  if alignment == 'center'
    assign section_alignment = 'justify-center text-center mx-auto'
  endif
-%}

{%- if blocks != blank -%}
  <div class="flex flex-col gap-y-2 {{ section_alignment }}">
    {%- for block in blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <div {{ block.shopify_attributes }}>
            <h3>{{ block.settings.text }}</h3>
          </div>
        {%- when 'text' -%}
          <div {{ block.shopify_attributes }}>
            <div>{{ block.settings.text }}</div>
          </div>
        {%- when 'buttons' -%}
          <div class="flex flex-wrap gap-gutter pt-3 {{ section_alignment }}" {{ block.shopify_attributes }}>
            {% if block.settings.button_label_1 != blank %}
              <div>
                {% render 'button' with
                  label: block.settings.button_label_1,
                  to: block.settings.button_link_1
                %}
              </div>
            {% endif %}
            {% if block.settings.button_label_2 != blank %}
              <div>
                {% render 'button' with
                  label: block.settings.button_label_2,
                  to: block.settings.button_link_2
                %}
              </div>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endif -%}