<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preload" href="{{ 'global.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'global.css' | asset_url }}"></noscript>

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {% endif %}


    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta_tags' %}
    {% render 'structured_data' %}

    {{ content_for_header }}

    {% render 'fonts' %}

    {% render 'integrations_before_head_close' %}
  </head>

  <body data-barba="wrapper" {%- if request.design_mode -%}data-shopify-editor="true"{%- endif -%}>
    <!-- Skip Links for Accessibility -->
    <a class="skip-link sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:bg-main focus:text-bg focus:px-4 focus:py-2 focus:rounded" href="#main-content">Skip to main content</a>
    <a class="skip-link sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-32 focus:z-50 focus:bg-main focus:text-bg focus:px-4 focus:py-2 focus:rounded" href="#footer">Skip to footer</a>

    {% render 'integrations_after_body_open' %}
    
    {% section 'notification-banner' %}
    {% section 'header' %}
    
    {% comment %}
    {% section 'age_gate' %}
    {% endcomment %}
    
    <main id="main-content" data-barba="container" data-barba-namespace="home" role="main">
      <div>
        {{ content_for_layout }}
      </div>
    </main>

    {% section 'cart' %}
    {% section 'footer' %}

    <div class="page-transition-overlay"></div>

    {{ 'global.js' | asset_url | script_tag }}
    {{ 'cart.js' | asset_url | script_tag }}

    {%- if request.design_mode -%}
      {{ 'shopify-editor.js' | asset_url | script_tag }}
    {%- endif -%}

    {% section 'menu-panel' %}

    {% render 'integrations_before_body_close' %}

  </body>
</html>
