<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {% endif %}

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <title>
      {{ page_title }}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}
  </head>

  <body class="transition-all duration-500" data-state-age-gate="closed" data-state-email-capture="closed">
    {% section 'header' %}
    {% comment %} {% section 'loading' %} {% endcomment %}
    {% section 'age-gate' %}
    {% section 'email-capture' %}
    {% section 'email_subscribe_success' %}
    <div class="min-h-[80vh] pt-[50px]">
      {{ content_for_layout }}
    </div>
    <modal-trigger data-modal-id='cartDrawer'>Open Cart</modal-trigger>
    {% section 'cart' %}
    {% section 'footer' %}
    <event-bus></event-bus>
    {{ 'global.js' | asset_url | script_tag }}
    {{ 'cart.js' | asset_url | script_tag }}

  </body>
</html>
