{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

{% capture padding_class %}
  {% render 'util-section-padding' with space: section.settings.section_padding %}
{% endcapture %}

<div class="{{ spacing_class }} {{ padding_class }} {{ section.settings.color_scheme }} w-full">

  <div class="px-margin relative">

    <div class="text-center">
      <h3 class="h2">
        <div class="text-dark">{{ section.settings.title }}</div>
      </h3>
    </div>

    <div class="grid sm:grid-cols-12 gap-gutter">
      <div class="sm:col-span-10 sm:col-start-2 lg:col-span-8 lg:col-start-3 2xl:col-span-6 2xl:col-start-4 pt-v-space-sm">
        <accordion-list class="block border-b border-hr-color">
          {% for row in section.blocks %}
            <collapsible-item class="border-t border-hr-color" id="{{row.id}}" {{ row.shopify_attributes }}>
              <button data-collapsible="trigger" class="text-left h5 flex justify-between gap-x-gutter w-full py-4">
                <div class="pt-[.125em]">{{ row.settings.title }}</div>
                <div class="h-[1.125em] shrink-0 grow-0 flex items-center justify-center pb-[1px]">
                  <div data-collapsible="icon">{% render 'icon_animated', icon: 'plus' %}</div>
                </div>
              </button>
              <div data-collapsible="content">
                <div>
                  <div class="pb-6">{{ row.settings.text }}</div>
                </div>
              </div>
            </collapsible-item>
          {% endfor %}
        </accordion-list>
      </div>
    </div>

  </div>

</div>

{% schema %}
{
  "name": "Accordion",
  "class": "section-accordion",
  "settings": [
    {
      "type": "header",
      "content": "Accordion Section"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Headline",
      "default": "FAQs"
    },
    // Section Spacing
    {
      "type": "header",
      "content": "Spacing & Sizing"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section Color",
      "default": "theme-default"
    },
		{
      "type": "select",
      "id": "section_padding",
      "default": "none",
      "label": "Section Padding",
      "info": "Equal space added above and below the section",
      "visible_if": "{{ section.settings.color_scheme != 'theme-default' }}",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    }
  ],
  "blocks": [
		{
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Lorem ipsum dolor sit amet, consectetur"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged.</p>"
        }
      ]
    }
	],
  "presets": [
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "row",
          "settings": {
            "title": "The question is?",
            "text": "<p>The answer to the question.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "The question is?",
            "text": "<p>The answer to the question.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "The question is?",
            "text": "<p>The answer to the question.<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
