<div class="w-full {{ section.settings.section_spacing }}">

  <div class="px-margin relative">

    <div class="text-center">
      <div class="angled-text">
        <div class="inner">
          <h3 class="h2">
            <div class="text-dark">{{ section.settings.title }}</div>
          </h3>
        </div>
      </div>
    </div>

    <div class="grid sm:grid-cols-12 gap-gutter">
      <div class="sm:col-span-10 sm:col-start-2 lg:col-span-8 lg:col-start-3 2xl:col-span-6 2xl:col-start-4 pt-v-space-sm">
        <accordion-list class="block border-b border-hr-color">
          {% for row in section.blocks %}
            <collapsible-item class="border-t border-hr-color" id="{{row.id}}" {{ row.shopify_attributes }}>
              <button data-collapsible="trigger" class="text-left h5 flex justify-between gap-x-gutter w-full py-4">
                <div class="pt-[.125em]">{{ row.settings.title }}</div>
                <div class="h-[1.125em] shrink-0 grow-0 flex items-center justify-center pb-[1px]">
                  <div data-collapsible="icon">{% render 'icon_animated', icon: 'plus' %}</div>
                </div>
              </button>
              <div data-collapsible="content">
                <div>
                  <div class="pb-6">{{ row.settings.text }}</div>
                </div>
              </div>
            </collapsible-item>
          {% endfor %}
        </accordion-list>
      </div>
    </div>

  </div>

</div>

{% schema %}
{
  "name": "Accordion",
  "settings": [
    {
      "type": "header",
      "content": "Accordion Section"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Headline",
      "default": "FAQs"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "mb-v-space",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-v-space-sm"
        },
        {
          "label": "Medium",
          "value": "mb-v-space"
        },
        {
          "label": "Large",
          "value": "mb-v-space-lg"
        }
      ]
    }
  ],
  "blocks": [
		{
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Lorem ipsum dolor sit amet, consectetur"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged.</p>"
        }
      ]
    }
	],
  "presets": [
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "row",
          "settings": {
            "title": "Who is Jack Agro?",
            "text": "<p>Jack Agro is the strongest, handsomest man who has ever lived.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Is Jack Agro answering these questions?",
            "text": "<p>Ha! No. Jack’s too busy to take the time to answer these questions. It’s me. Seth, Jack’s intern.<\/p>"
          }
        },
				{
          "type": "row",
          "settings": {
            "title": "Where's my order Jack?",
            "text": "<p>I don’t want to be rude but I just want remind you that this is Seth, Jack’s intern, not<br\/>Jack. Jack’s too busy to be answering questions. You can click here (TODO?) for order tracking.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Why is it called power jerky?",
            "text": "<p>Back in the 1800s, when the American West was being settled, meat was salted, cut into long, thick strips, dried in the sun, and carried in saddlebags until needed for a snack or meal. It was called charqui, a Spanish word meaning dried meat. This was eventually Americanized into “jerky”. And we called AGRO “power jerky” because it has all the protein power of beef jerky but with fewer health and environmental issues.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "How much protein is in every serving of Agro Power Jerky?",
            "text": "<p>10 grams. And 25g per bag.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "What kind of magic is this? Where did all the cholesterol and sodium go?",
            "text": "<p>Because AGRO is made from plants not animals, it doesn’t have any cholesterol and doesn’t require all the salt to preserve it.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "What does the 100% happiness guarantee mean?",
            "text": "<p>GETAGRO.com customers: If you don’t 100% love your jerky, we’ll give you a refund on your first order (up to 4 bags). Refunds are eligible within 6 months of the order date.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Where does the caffeine in Energy Bolt come from?",
            "text": "<p>Coffee beans.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Do you have any samples?",
            "text": "<p>As a small company, we can’t send out any samples at the moment. However, we do offer a 100% happiness guarantee in case you don’t love it. So give it a shot, and let us know what you think!<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Can I update my shipping address, edit, or cancel my order once I place it?",
            "text": "<p>Orders typically ship out the same day at AGRO but we’ll do everything we can to catch your order. Please email us at <a href=\"mailto:hello@getagro.com\" title=\"mailto:hello@getagro.com\">hello@getagro.com<\/a> with your order number and we’ll do our best to work some magic for you.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Can Agro be shipped outside the U.S.?",
            "text": "<p>Right now AGRO can only be shipped within the US. We will eventually figure out how<br\/>to ship things internationally, but we’re a small team and right now we’re 100% focused<br\/>on the US.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "Will Agro ever be available at retail stores?",
            "text": "<p>Yes. We are starting to work on it. If you work with a store that wants to offer AGRO to your customers, please email us at <a href=\"mailto:sales@GetAGRO.com\" title=\"mailto:sales@GetAGRO.com\">sales@GetAGRO.com<\/a>.<\/p>"
          }
        },
        {
          "type": "row",
          "settings": {
            "title": "My order arrived but it's damaged. What do I do?",
            "text": "<p>We’re so sorry to hear that! Please email us at <a href=\"mailto:hello@getagro.co\" title=\"mailto:hello@getagro.co\">hello@getagro.co<\/a> and let us know which flavors were damaged so we can get this sorted out right away.<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
