<div class="p-2 lg:w-full h-[100vh] flex justify-center items-center">
    <div class="lg:w-1/2 lg:m-auto text-{{ section.settings.text-alignment }}">
        {% for block in section.blocks %}
            <div class="mb-4">
                {% case block.type %}
                    {% when 'header' %}
                        <div class="mb-10">
                            <span class="text-sans-18">
                                {{ block.settings.content }}
                            </span>
                        </div>
                    {% when 'text' %}
                        {{ block.settings.content }}
                    {% when 'link' %}
                        <a href={{block.settings.url}} target="_blank">
                            {{ block.settings.content }}
                        </a>
                {% endcase %}
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
{
	"name": "centered_text_box",
	"settings": [
        {
        "type": "radio",
        "id": "text-alignment",
        "label": "Text Align",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "right",
            "label": "Right"
            },
            {
            "value": "center",
            "label": "center"
            }
        ],
        "default": "left"
        }
    ],
    "templates": ["page"],
    "blocks": [
        {
        "type": "header",
        "name": "Header",
        "settings": [
                {
                "type": "header",
                "content": "Content"
                },
                {
                "type": "text",
                "id": "content",
                "label": "Content"
                }
            ]
        },
        {
        "type": "text",
        "name": "Text",
        "settings": [
                {
                "type": "header",
                "content": "Content"
                },
                {
                "type": "text",
                "id": "content",
                "label": "Content"
                }
            ]
        },
        {
        "type": "link",
        "name": "Link",
        "settings": [
                {
                "type": "header",
                "content": "Content"
                },
                {
                "type": "text",
                "id": "content",
                "label": "Content"
                },
                {
                "type": "url",
                "id": "url",
                "label": "Link Destination"
                }
            ]
        }
    ]
}
{% endschema %}