{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

{% capture padding_class %}
  {% render 'util-section-padding' with space: section.settings.section_padding %}
{% endcapture %}

{%-liquid
  assign columns = section.blocks | where: 'type', "column"
  assign alignment = section.settings.alignment
  assign justify_alignment = section.settings.alignment

  assign mobile_cols = 100.00 | divided_by: section.settings.mobile_columns
  assign tablet_cols = 100.00 | divided_by: section.settings.tablet_columns
  assign desktop_cols = 100.00 | divided_by: section.settings.columns

  assign eyebrow = section.settings.eyebrow
  assign headline = section.settings.headline
  assign text = section.settings.text
-%}

<div class="{{ spacing_class }} {{ padding_class }} w-full px-margin overflow-hidden md:grid md:grid-cols-12 md:gap-x-gutter {{ section.settings.color_scheme }}">
  <div class="mx-auto md:col-span-10 md:col-start-2 w-full">
    
    {% if eyebrow != blank or headline != blank or text != blank %}
      <in-view class="{% if section.settings.slideshow %}hidden lg:flex{% else %}flex{% endif %} mb-v-space-sm text-{{ alignment }} w-full flex-col items-{{ alignment }} justify-start gap-gutter">
        {% if eyebrow != blank %}<div class="h6 text-light-text-color">{{ eyebrow }}</div>{% endif %}
        {% if headline != blank %}<div class="pb-[.3em] {{ section.settings.headline_size }}">{{ headline }}</div>{% endif %}
        {% if text != blank %}<div class="body">{{ text }}</div>{% endif %}
      </in-view>
    {% endif %}

    {% if section.settings.slideshow == false %}
      <div>
        <div
          style="--mobile-cols: {{ mobile_cols }}%; --tablet-cols: {{ tablet_cols }}%; --desktop-cols: {{ desktop_cols }}%;"
          class="flex flex-wrap justify-{{ alignment }} gap-y-v-space-sm {% if section.settings.mobile_columns > 1 %}lg:-mx-half-gutter{% else %}-mx-half-gutter{% endif %}"
        >
          {%- for column in section.blocks -%}
            <div class="{% if section.settings.mobile_slideshow %}hidden lg:block{% endif %} relative w-[var(--mobile-cols)] md:w-[var(--tablet-cols)] xl:w-[var(--desktop-cols)] px-half-gutter">
              <div class="flex flex-col h-full text-balance max-w-[500px]">
                {% render column %}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
    
    {% if section.settings.mobile_slideshow or section.settings.slideshow %}
      <slide-show
        class="{% if section.settings.slideshow == false %}lg:hidden {% endif %} block -mx-margin px-margin"
        data-slides-to-show="{{ section.settings.mobile_columns }},{{ section.settings.tablet_columns }},{{ section.settings.tablet_columns }},{{ section.settings.columns }}"
      >
        <div class="slider-container">
          {%- for column in section.blocks -%}
            <div class="slider-slide">
              <div class="flex flex-col h-full text-balance max-w-[500px]">
                {% render column %}
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="slider-dots text-light-text-color mt-6"></div>
      </slide-show>
    {% endif %}
    
  </div>
</div>

{% schema %}
{
  "name": "Columns",
  "settings": [
    {
      "type": "header",
      "content": "Section Options"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "inline_richtext",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "select",
      "id": "headline_size",
      "default": "h3",
      "label": "Headline Size",
      "options": [
        {
          "label": "H1",
          "value": "h1"
        },
        {
          "label": "H2",
          "value": "h2"
        },
        {
          "label": "H3",
          "value": "h3"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "default": "center",
      "label": "Text Alignment"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "checkbox",
      "id": "slideshow",
      "label": "Slideshow",
      "default": false
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Desktop Columns",
      "default": 1,
      "min": 1,
      "max": 6,
      "step": 1
    },
    {
      "type": "range",
      "id": "tablet_columns",
      "label": "Tablet Columns",
      "default": 3,
      "min": 1,
      "max": 6,
      "step": 1
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "checkbox",
      "id": "mobile_slideshow",
      "label": "Slideshow on mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile_columns",
      "label": "Mobile Columns",
      "default": 1,
      "min": 1,
      "max": 6,
      "step": 1
    },
    // Section Spacing
    {
      "type": "header",
      "content": "Spacing & Sizing"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section Color",
      "default": "theme-default"
    },
		{
      "type": "select",
      "id": "section_padding",
      "default": "none",
      "label": "Section Padding",
      "info": "Equal space added above and below the section",
      "visible_if": "{{ section.settings.color_scheme != 'theme-default' }}",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Slim",
          "value": "slim"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Slim",
          "value": "slim"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "_text-lockup"
    }
	],
  "presets": [
    {
      "name": "Columns"
    }
  ]
}
{% endschema %}
