<footer id="footer" class="p-margin" role="contentinfo">
	{% comment %} tiny links {% endcomment %}
	<div class="mb-v-space grid grid-cols-2 lg:grid-cols-12 gap-x-gutter gap-y-v-space">

		<div class="col-span-2 lg:col-span-6 lg:grid lg:grid-cols-6 lg:gap-x-gutter">
			<div class="flex flex-col gap-y-3 lg:col-span-4">
				<div class="h6">
					{{ section.settings.text }}
				</div>
				{% form 'customer', class: 'w-full' %}
					<div class="border-b border-solid bg-transparent font-expanded w-full flex">
						<input 
								type="email" 
								id="email-footer-input" 
								name="w-full" 
								class="bg-transparent grow placeholder:text-{{color}} placeholder:opacity-20" 
								placeholder="Enter email" />
						<input class="shrink-0" type="submit" value="Submit" />
					</div>
					{% if form.posted_successfully? %}
						<div class="font-expanded w-full items-center justify-center mt-3 transition-all opacity-50">
							{{ section.settings.text-confirm }}
						</div>
					{% else  %}
						{{ form.errors | default_errors }}
					{% endif %}
				{% endform %}
			</div>
		</div>

		<div class="lg:col-span-2">
			{% for link in section.settings.link_list_1.links %}
				<ul>
					<li>
						<a href="{{ link.url }}" class="py-1 inline-block align-top">
							<span class="animate-underline">
								{{ link.title }}
							</span>
						</a>
					</li>
				</ul>
			{% endfor %}
		</div>

		<div class="lg:col-span-2">
			{% for link in section.settings.link_list_2.links %}
				<ul>
					<li>
						<a href="{{ link.url }}" class="py-1 inline-block align-top">
							<span class="animate-underline">
								{{ link.title }}
							</span>
						</a>
					</li>
				</ul>
			{% endfor %}
		</div>

		<div class="lg:col-span-2">
			{% for link in section.settings.link_list_3.links %}
				<ul>
					<li>
						<a href="{{ link.url }}" class="py-1 inline-block align-top">
							<span class="animate-underline">
								{{ link.title }}
							</span>
						</a>
					</li>
				</ul>
			{% endfor %}
		</div>

	</div>

	<div class="flex justify-between items-center border-t pt-2 border-hr-color">
		<div>
			<p class="body-tiny">©{{ "now" | date: "%Y" }}. {{ shop.name }}</p>
		</div>
		<div>
			<a class="body-tiny animate-underline" href="https://hyperlinknyc.com/">Site Credit</a>
		</div>
	</div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "link_list",
			"id": "link_list_1",
			"default": "main-menu",
			"label": "Link List 1"
		},
		{
			"type": "link_list",
			"id": "link_list_2",
			"default": "main-menu",
			"label": "Link List 2"
		},
		{
			"type": "link_list",
			"id": "link_list_3",
			"default": "main-menu",
			"label": "Link List 3"
		},
		{
			"type": "text",
			"id": "text",
			"label": "Sign Up Text"
		},
		{
			"type": "text",
			"id": "text-confirm",
			"label": "Confirmation Text",
			"info": "Text that appears after a successful subscription"
		}
  ]
}
{% endschema %}
