<script src="{{ 'nav.js' | asset_url }}" defer="defer"></script>

<style>
  #shopify-section-header {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .scrolled header {
    background: var(--bg-color);
  }
</style>

<sticky-header>
  <header class="transition-all h-v-space-sm w-full flex px-margin items-center justify-between">
    <div class="shrink-0">
      <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="body logo">
        <a
          href="{{ routes.root_url }}"
          title="Go to {{ shop.name }} homepage"
          class='w-[120px] md:w-[160px] block border-0'
        >
          {% render 'logo' %}
        </a>
      </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>
    </div>
    <div class="shrink-0 grow">
      <div class="flex space-x-gutter justify-end w-full">
        {%- for link in section.settings.menu.links -%}
          {% assign is_store_active = false %}
          <div class="flex justify-center items-center">
            <div {% if link.active or is_store_active %} class="border-b border-transparent active"  {% else %} class="border-b border-transparent" {% endif %}>
                <a href="{{ link.url }}" class="body-small md:body group" {% if link.active %}aria-current="page"{% endif %}>
                  <span class="animate-underline inline-block">
                    {{ link.title }}
                  </span>
                </a>
            </div>
          </div>
        {% endfor %}
        {% render 'cart_thumbnail' %}
      </div>
    </div>
  </header>
</sticky-header>


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Navigation Menu"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                }
      ]
    }
  ]
}
{% endschema %}
