<modal-component id="menuPanel" class="drawer z-[9]">
  <div
    class="modal-content flex flex-col theme-red-texture w-full md:w-[30vw] max-w-full md:min-w-[600px] bg-bg z-1"
  >
    <div class="transition-all h-v-space-sm w-full flex pr-margin pl-margin pt-margin items-center justify-between">
      <div style="--mobile-font-size: 24;" class="grow w-1 h5 text-dark">
        <modal-trigger>
          Close
        </modal-trigger>
      </div>
      
      <div class="shrink-0 h-full logo-col transition-opacity !opacity-100">
        <div class="body logo">
          <a
            href="{{ routes.root_url }}"
            title="Go to {{ shop.name }} homepage"
            class='w-[82px] block border-0 text-dark'
          >
            <div>{% render 'logomark' %}</div>
          </a>
        </div>
      </div>
  
      <div class="grow w-1 flex justify-end" style="--product-color: var(--cream); --product-text-color: var(--dark-color);">
        {% render 'cart_thumbnail' %}
      </div>
    </div>

    <div class="h-full pb-margin flex flex-col justify-between gap-v-space-sm">
      <div class="flex justify-start items-center grow">
        <nav class="flex justify-start w-full h-full items-center">
          <ul class="transition-all">
            {%- for link in section.settings.menu.links -%}
              {% assign is_store_active = false %}
              <li>
                <modal-trigger {% if link.active or is_store_active %} class="border-b border-transparent active"  {% else %} class="border-b border-transparent" {% endif %}>
                  <a href="{{ link.url }}" class="px-margin h2 group" {% if link.active %}aria-current="page"{% endif %}>
                    <span class="text-dark inline-block">
                      <span class="text">{{ link.title }}</span>
                    </span>
                  </a>
                </modal-trigger>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      
      <div class="shrink-0">
        <nav class="flex justify-start w-full h-full items-center">
          <ul class="transition-all">
            {%- for link in section.settings.secondary_menu.links -%}
              {% assign is_store_active = false %}
              <li>
                <div {% if link.active or is_store_active %} class="border-b border-transparent active"  {% else %} class="border-b border-transparent" {% endif %}>
                    <a href="{{ link.url }}" class="px-margin py-[.25em] body-large group inline-block align-top" {% if link.active %}aria-current="page"{% endif %}>
                      <span class="text-dark inline-block">
                        <span class="text">{{ link.title }}</span>
                      </span>
                    </a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <modal-trigger class="overlay bg-text-color opacity-20"></modal-trigger>
</modal-component>

{% schema %}
{
  "name": "Mobile Menu",
  "settings": [
    {
      "type": "header",
      "content": "Mobile Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Mobile Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "default": "main-menu",
      "label": "Secondary Menu"
    }
  ]
}
{% endschema %}
