{% liquid
	assign columns = section.blocks | where: 'type', 'menu'
%}

<div id="footer" class="p-margin" role="contentinfo">
	{% comment %} tiny links {% endcomment %}
	<div class="mb-v-space grid grid-cols-2 lg:grid-cols-12 gap-x-gutter gap-y-v-space">

		<div class="col-span-2 lg:col-span-6 lg:grid lg:grid-cols-6 lg:gap-x-gutter">
			<div class="flex flex-col gap-y-3 lg:col-span-4">
				<div class="h6">
					{{ section.settings.text }}
				</div>
				{% form 'customer', class: 'w-full' %}
					<div class="border-b border-solid bg-transparent font-expanded w-full flex">
						<input 
								type="email" 
								id="email-footer-input" 
								name="w-full" 
								class="bg-transparent grow placeholder:text-{{color}} placeholder:opacity-20" 
								placeholder="Enter email" />
						<input class="shrink-0" type="submit" value="Submit" />
					</div>
					{% if form.posted_successfully? %}
						<div class="font-expanded w-full items-center justify-center mt-3 transition-all opacity-50">
							{{ section.settings.text-confirm }}
						</div>
					{% else  %}
						{{ form.errors | default_errors }}
					{% endif %}
				{% endform %}
			</div>
		</div>

		<div class="lg:col-span-6 flex gap-gutter">
			{% for column in columns %}
				<div class="w-1 grow">
					<h6 class="smallcaps mb-4">{{ column.settings.link_list.title }}</h6>
					{% for link in column.settings.link_list.links %}
						<ul class="leading-none">
							<li>
								<a href="{{ link.url }}" class="inline-block align-top body-small bold">
									<span class="animate-underline">
										{{ link.title }}
									</span>
								</a>
							</li>
						</ul>
					{% endfor %}
				</div>
			{% endfor %}
		</div>

	</div>

	<div class="flex justify-between items-center border-t pt-2 border-hr-color">
		<div>
			<p class="body-tiny">©{{ "now" | date: "%Y" }}. {{ shop.name }}</p>
		</div>
		<div>
			<collapsible-trigger
				class="cursor-pointer body-tiny animate-underline"
				data-id="siteCred"
			>
				Site Credit
			</collapsible-trigger>
		</div>
	</div>
</div>
<collapsible-item id="siteCred">
	<div data-collapsible="content" class="theme-dark">
		<div>
			<div class="max-w-site-max-w py-gutter px-margin body-small text-center">
				Site by <a class="animate-underline" href="https://hyperlinknyc.com/">Studio Hyperlink</a>
			</div>
		</div>
	</div>
</collapsible-item>

<script>
	document.querySelector('[data-id="siteCred"]').addEventListener('click', () => {
		setTimeout(() => {
			window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })
		}, 300)
	})
</script>

{% schema %}
{
  "name": "footer",
	"tag": "footer",
	"class": "section-footer",
	"blocks": [
		{
      "type": "menu",
      "name": "Column",
      "settings": [
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Menu"
        }
      ]
    }
	],
  "settings": [
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "text",
			"label": "Sign Up Text"
		},
		{
			"type": "text",
			"id": "text-confirm",
			"label": "Confirmation Text",
			"info": "Text that appears after a successful subscription"
		}
  ]
}
{% endschema %}
