{%-liquid
  if section.settings.section_height == 'small'
    assign section_setting_height = 'min-h-half-screen'
  elsif section.settings.section_height == 'medium'
    assign section_setting_height = 'min-h-three-q-screen'
  else
    assign section_setting_height = 'min-h-screen'
  endif

  assign desktop_alignment_class = 'md:items-center md:justify-center'
  assign mobile_alignment_class = 'items-center justify-stretch'

  if section.settings.mobile_content_position == 'top'
    assign mobile_alignment_class = 'items-start justify-stretch'
  elsif section.settings.mobile_content_position == 'bottom'
    assign mobile_alignment_class = 'items-end justify-stretch'
  endif

  if section.settings.desktop_content_position == 'top-left'
    assign desktop_alignment_class = 'md:items-start md:justify-start'

  elsif section.settings.desktop_content_position == 'top-center'
    assign desktop_alignment_class = 'md:items-start md:justify-center'

  elsif section.settings.desktop_content_position == 'top-right'
    assign desktop_alignment_class = 'md:items-start md:justify-end'

  elsif section.settings.desktop_content_position == 'middle-left'
    assign desktop_alignment_class = 'md:items-center md:justify-start'

  elsif section.settings.desktop_content_position == 'middle-right'
    assign desktop_alignment_class = 'md:items-center md:justify-end'

  elsif section.settings.desktop_content_position == 'bottom-left'
    assign desktop_alignment_class = 'md:items-end md:justify-start'

  elsif section.settings.desktop_content_position == 'bottom-center'
    assign desktop_alignment_class = 'md:items-end md:justify-center'

  elsif section.settings.desktop_content_position == 'bottom-right'
    assign desktop_alignment_class = 'md:items-end md:justify-end'

  endif

  assign alignment_class = mobile_alignment_class | append: ' ' | append: desktop_alignment_class
-%}

{% if section.settings.image != blank or section.settings.video != blank %}
  <div id="Banner-{{ section.id }}" class="{{ section_setting_height }} relative{% if section.settings.full_width == false %} mx-margin{% endif %} {{ section.settings.section_margin }}">
    <div class="absolute z-index-1 top-0 left-0 w-full h-full bg-nude-2{% if section.settings.full_width == false %} rounded-lg overflow-hidden{% endif %}">
      {%- if section.settings.video != blank -%}
        <video class="absolute top-0 left-0 w-full h-full object-cover{% if section.settings.full_width == false %} rounded-lg{% endif %}" autoplay="true" muted="true" loop="true" playsinline="true" allow poster={{ section.settings.image | image_url: width: 1500 }}>
          <source src="{{ section.settings.video }}" type="video/mp4">
        </video>
      {%- elsif section.settings.image != blank -%}
        {%-liquid
          assign section_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          assign sizes = "100vw"
          assign image_class = 'absolute top-0 left-0 w-full h-full object-cover'
          if section.settings.full_width == false
            assign image_class = 'absolute top-0 left-0 w-full h-full object-cover rounded-lg'
          endif
        -%}

        {%- if section.settings.mobile_image -%}
          <picture>
            <source media="(max-width: 800px)" srcset="{{section.settings.mobile_image | image_url: width: 1000 }}" />
            <source media="(min-width: 799px)" srcset="{{section.settings.image | image_url: width: 375 }} 375w, {{section.settings.image | image_url: width: 550 }} 550w, {{section.settings.image | image_url: width: 750 }} 750w, {{section.settings.image | image_url: width: 1100 }} 1100w, {{section.settings.image | image_url: width: 1500 }} 1500w, {{section.settings.image | image_url: width: 1780 }} 1780w, {{section.settings.image | image_url: width: 2000 }} 2000w" />
            <img src="{{section.settings.image | image_url: width: 1000 }}" alt="{{ section.settings.image.alt | escape }}" class="{{ image_class }}" height="{{ section_setting_height }}" width="{{ section.settings.image.width }}" loading="lazy" />
          </picture>
        {%- else -%}
          {{ section.settings.image | image_url: width: 3000 | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: section_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image.alt | escape
          }}
        {%- endif -%}
      {%- else -%}
        {% render 'placeholder-img' with icon: 'img-lg', cover: 'true' %}
      {%- endif -%}
      <div class="absolute top-0 left-0 w-full h-full bg-true-black{% if section.settings.full_width == false %} rounded-lg overflow-hidden{% endif %}" style="opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.00 }}"></div>
    </div>
    <div class="relative z-index-3 w-full {{ section_setting_height }} flex {{ alignment_class }} text-{{ section.settings.mobile_content_alignment }} md:text-{{ section.settings.desktop_content_alignment }} py-header-height px-margin">
      <div class="{{ section.settings.color_scheme }} flex flex-col gap-y-6 w-full md:w-auto {% if section.settings.mobile_content_alignment == 'center' %}items-center{% endif %} {% if section.settings.desktop_content_alignment == 'center' %}md:items-center{% endif %}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="{{ block.settings.heading_size }}{% if block.settings.heading_sans %} sans{% endif %} max-w-[12em]" {{ block.shopify_attributes }}>
                <span>{{ block.settings.heading | escape }}</span>
              </h2>
            {%- when 'text' -%}
              <div class="{{ block.settings.text_size }} max-w-[24em]{% if block.settings.mobile_hide %} sm:block hidden{% endif %}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.text | escape }}</span>
              </div>
            {%- when 'caption' -%}
              <div class="body-xsmall max-w-[24em]{% if block.settings.mobile_hide %} sm:block hidden{% endif %}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.caption }}</span>
              </div>
            {%- when 'buttons' -%}
              <div class="mt-4 flex gap-x-gutter" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button large {{ block.settings.button_color_1 }}{% if block.settings.button_style_secondary_1 %} hollow{% else %} solid{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button large {{ block.settings.button_color_2 }}{% if block.settings.button_style_secondary_2 %} hollow{% else %} solid{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}
              </div>
            {%- when 'icon_image' -%}
              <div class="my-2 max-w-[175px]" {{ block.shopify_attributes }}>
                {{ block.settings.image | image_url: width: 3000 | image_tag:
                  loading: 'lazy',
                  width: block.settings.image.width,
                  height: block.settings.image.height,
                  widths: '750',
                  alt: block.settings.image.alt | escape
                }}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Wide Media",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image",
      "info": "Optional image to be shown at smaller screen sizes"
    },
    {
      "type": "text",
      "id": "video",
      "label": "Video URL",
      "info": "The URL of a .mp4 file. If entered, the image will be used as the 'poster' image if the video takes time to load."
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Overlay Opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_height",
      "default": "medium",
      "label": "Section Height",
      "info": "If Auto is selected, the section will retain a minimum height of the image or video aspect ratio",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "small",
          "label": "Short"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Full Height"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full Width",
      "info": "Extend image the full page width"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "default": "middle-center",
      "label": "Content Position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "default": "center",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "text-bg-color",
          "label": "Light"
        },
        {
          "value": "text-text-color",
          "label": "Dark"
        }
      ],
      "default": "text-bg-color",
      "label": "Text Color"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "default": "middle",
      "label": "Mobile content position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile content alignment"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "Stack on mobile"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Text below media",
      "info": "Only applies if stacked on mobile"
    },
    {
      "type": "select",
      "id": "section_margin",
      "default": "mb-12 md:mb-margin",
      "label": "Section Margin",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "none",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-12 md:mb-margin"
        },
        {
          "label": "Medium",
          "value": "mb-md-vertical"
        },
        {
          "label": "Large",
          "value": "mb-vertical-spacing"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Small"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "body-small",
              "label": "Small"
            },
            {
              "value": "body",
              "label": "Medium"
            },
            {
              "value": "body-medium",
              "label": "Large"
            }
          ],
          "default": "body",
          "label": "Text size"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide",
          "label": "Hide on mobile"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Small Caption",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "caption",
          "label": "Small Caption"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide",
          "label": "Hide on mobile"
        }
      ]
    },
    {
      "type": "icon_image",
      "name": "Icon",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button 1 Label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button 1 Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "Use secondary button style"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Button 2 Label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button 2 Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "Use secondary button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Wide Media",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
