{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

{%-liquid
  assign hasMedia = false
  assign height_auto = false
  assign media_position = 'cover'
  if section.settings.image != blank
    assign hasMedia = true
  endif

  if section.settings.section_height == 'auto-height'
  assign height_auto = true
  endif
-%}

<div class="{{ spacing_class }} {{ section.settings.section_height }} section-inner theme-dark" style="--content-padding: var(--site-margins);">
  <div class="relative bg-true-black h-full">
    {% if section.blocks.size > 1 %}
    <slide-show
      class="w-full h-full"
      data-loop="true"
      style="--slide-gap: 0px;"
      {% if section.settings.slideshow_autoplay %}
      data-autoplay="true"
      data-autoplay="{{ section.settings.slideshow_autoplay_speed | times: 1000.00 }}"
      {% endif %}
    >
      <div class="slider-container h-full">
    {% endif %}

        {% for block in section.blocks %}
          {% if section.blocks.size > 1 %}
          <div class="slider-slide h-full" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
          {% endif %}
            {% render block %}
          {% if section.blocks.size > 1 %}
          </div>
          {% endif %}
        {% endfor %}
        
    {% if section.blocks.size > 1 %}
      </div>
    </slide-show>
    {% endif %}
  </div>
</div>

{% schema %}
{
	"name": "Wide Media",
  "tag": "section",
  "class": "section-wide-media",
	"settings": [
    {
      "type": "header",
      "content": "Spacing & Sizing"
    },
    {
      "type": "select",
      "id": "section_height",
      "default": "h-screen-medium",
      "label": "Section Height",
      "options": [
        {
          "label": "Auto",
          "value": "auto-height"
        },
        {
          "label": "Small",
          "value": "h-screen-small"
        },
        {
          "label": "Medium",
          "value": "h-screen-medium"
        },
        {
          "label": "Full Height",
          "value": "h-screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slideshow Settings",
      "info": "Only apply if there are multiple slides"
    },
    {
      "type": "checkbox",
      "id": "slideshow_autoplay",
      "label": "Autoplay slideshow",
      "default": false
    },
    {
      "type": "range",
      "id": "slideshow_autoplay_speed",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "label": "Overlay Opacity",
      "default": 6,
      "visible_if": "{{ section.settings.slideshow_autoplay == true }}"
    },
	],
	"blocks": [
    {
      "type": "_media-slide"
    }
	],
	"presets": [
    {
      "name": "Wide Media",
      "category": "Text",
      "blocks": []
	  }
  ]
}
{% endschema %}