{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

{%-liquid
  assign hasMedia = false
  assign height_auto = false
  assign media_position = 'cover'
  if section.settings.image != blank
    assign hasMedia = true
  endif

  if section.settings.section_height == 'auto-height'
  assign height_auto = true
  assign media_position = 'unset'
  endif

  assign is_first_section = false
  if section.index == 2
    assign is_first_section = true
  endif

  assign image_loading = 'lazy'
  assign image_fetch_priority = ''
  if is_first_section
    assign image_loading = 'eager'
    assign image_fetch_priority = 'high'
  endif
-%}

<div class="{{ spacing_class }} section-inner theme-dark" style="--content-padding: var(--site-margins);">
  <div class="relative bg-true-black h-full">
    <div class="media z-1 {% if height_auto %}relative{% else %}absolute top-0 left-0 w-full h-full{% endif %}">
      <div class="absolute top-0 left-0 w-full h-full bg-true-black z-1" style="opacity: {{ section.settings.overlay_opacity | divided_by: 100.00 }}"></div>
      {% content_for 'block',
        type: '_media',
        id: 'media',
        layout: media_position,
        loading: image_loading,
        fetchpriority: image_fetch_priority
      %}
    </div>
    <div class="{% if height_auto %}absolute top-0 left-0 w-full h-full{% else %}{{ section.settings.section_height }} relative{% endif %} overlay-content z-2 flex {{ section.settings.h_alignment }} {{ section.settings.v_alignment }} px-margin pb-margin pt-[--content-padding]">
      <div class="grid gap-gutter w-full sm:w-[66.666%] xl:w-1/2 2xl:w-1/3">
        <div>
          {% content_for 'block',
            type: '_text-lockup',
            id: 'text-lockup',
            classname: 'max-w-narrow text-balance'
          %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "Wide Media",
  "tag": "section",
  "class": "section-wide-media",
	"settings": [
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Overlay Opacity",
      "default": 0
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "id": "h_alignment",
      "default": "justify-center",
      "label": "Horizontal Alignment",
      "options": [
        {
          "label": "Left",
          "value": "justify-start"
        },
        {
          "label": "Center",
          "value": "justify-center"
        },
        {
          "label": "Right",
          "value": "justify-end"
        }
      ]
    },
    {
      "type": "select",
      "id": "v_alignment",
      "default": "items-center",
      "label": "Vertical Alignment",
      "options": [
        {
          "label": "Top",
          "value": "items-start"
        },
        {
          "label": "Center",
          "value": "items-center"
        },
        {
          "label": "Bottom",
          "value": "items-end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing & Sizing"
    },
    {
      "type": "select",
      "id": "section_height",
      "default": "h-screen-medium",
      "label": "Section Height",
      "options": [
        {
          "label": "Auto",
          "value": "auto-height"
        },
        {
          "label": "Small",
          "value": "h-screen-small"
        },
        {
          "label": "Medium",
          "value": "h-screen-medium"
        },
        {
          "label": "Full Height",
          "value": "h-screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    }
	],
	"blocks": [
		{
      "type": "_text-lockup"
    }
	],
	"presets": [
    {
      "name": "Wide Media",
      "category": "Text",
      "blocks": [
        {
          "id": "media",
          "type": "_media",
          "static": true
        },
        {
          "id": "text-lockup",
          "type": "_text-lockup",
          "static": true
        }
      ]
	  }
  ]
}
{% endschema %}