{%-liquid
  assign hasMedia = false
  assign height_auto = false
  assign media_position = 'cover'
  if section.settings.image != blank
    assign hasMedia = true
  endif

  if section.settings.section_height == 'auto-height'
  assign height_auto = true
  assign media_position = 'unset'
  endif
-%}

<div class="{{ section.settings.section_spacing }}">
  <div class="relative bg-light-grey h-full">
    <div class="media z-1 {% if height_auto %}relative{% else %}absolute top-0 left-0 w-full h-full{% endif %}">
      <div class="absolute top-0 left-0 w-full h-full bg-true-black z-1" style="opacity: {{ section.settings.overlay_opacity | divided_by: 100.00 }}"></div>
      {% if section.settings.media_type == 'video' %}
        {% render 'video' with src: section.settings.video, layout: media_position %}
      {% else %}
        {% render 'image' with src: section.settings.image, layout: media_position %}
      {% endif %}
    </div>
    <div class="{% if height_auto %}absolute top-0 left-0 w-full h-full{% else %}{{ section.settings.section_height }} relative{% endif %} text-bg overlay-content z-2 flex {{ section.settings.h_alignment }} {{ section.settings.v_alignment }} px-margin pb-margin pt-margin">
      <div class="grid gap-gutter w-full md:w-1/2 lg:w-1/3">
        <div>
          {% render 'text_lockup' with blocks: section.blocks, alignment: section.settings.text_alignment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "Wide Media",
	"settings": [
     {
      "type": "select",
      "id": "media_type",
      "default": "image",
      "label": "Media Type",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Video",
          "value": "video"
        }
      ]
    },
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image",
      "visible_if": "{{ section.settings.media_type == 'image' }}"
		},
    {
			"type": "video",
			"id": "video",
			"label": "Video",
      "visible_if": "{{ section.settings.media_type == 'video' }}"
		},
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Overlay Opacity",
      "default": 0
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "id": "h_alignment",
      "default": "justify-center",
      "label": "Horizontal Alignment",
      "options": [
        {
          "label": "Left",
          "value": "justify-start"
        },
        {
          "label": "Center",
          "value": "justify-center"
        },
        {
          "label": "Right",
          "value": "justify-end"
        }
      ]
    },
    {
      "type": "select",
      "id": "v_alignment",
      "default": "items-center",
      "label": "Vertical Alignment",
      "options": [
        {
          "label": "Top",
          "value": "items-start"
        },
        {
          "label": "Center",
          "value": "items-center"
        },
        {
          "label": "Bottom",
          "value": "items-end"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "default": "center",
      "label": "Text Alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing & Sizing"
    },
    {
      "type": "select",
      "id": "section_height",
      "default": "h-screen-medium",
      "label": "Section Height",
      "options": [
        {
          "label": "Auto",
          "value": "auto-height"
        },
        {
          "label": "Small",
          "value": "h-screen-small"
        },
        {
          "label": "Medium",
          "value": "h-screen-medium"
        },
        {
          "label": "Full Height",
          "value": "h-screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "mb-v-space",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-v-space-sm"
        },
        {
          "label": "Medium",
          "value": "mb-v-space"
        },
        {
          "label": "Large",
          "value": "mb-v-space-lg"
        }
      ]
    }
	],
	"blocks": [
		{
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Headline",
          "label": "Headline Text"
        },
				{
					"type": "select",
					"id": "size",
					"default": "h3",
					"label": "Headline Size",
					"options": [
						{
							"label": "H1",
							"value": "h1"
						},
						{
							"label": "H2",
							"value": "h2"
						},
						{
							"label": "H3",
							"value": "h3"
						},
						{
							"label": "H4",
							"value": "h4"
						}
					]
				}
      ]
    },
		{
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        },
				{
					"type": "select",
					"id": "size",
					"default": "",
					"label": "Text Size",
					"options": [
						{
							"label": "Small",
							"value": "body-small"
						},
						{
							"label": "Normal",
							"value": ""
						},
						{
							"label": "Medium",
							"value": "body-medium"
						},
						{
							"label": "Large",
							"value": "body-large"
						}
					]
				}
      ]
    },
		{
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Shop Now",
          "label": "Button 1 Label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button 1 Link"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button 2 Label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button 2 Link"
        }
      ]
    }
	],
	"presets": [
    {
      "name": "Wide Media",
      "blocks": [
        {
          "type": "heading"
        },
				{
          "type": "text"
        },
				{
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}